
<div class="tweetBox">
<form action="/session" method="post">
<div class="tweetbox__input">


<div class="container">
  <%# <div class="user-profile"></div>
  <div class="brand-title">UAP Watch</div> %>
  <h3>Please login or create an account</h3>
  <div class="inputs">
    <label>EMAIL</label>
    <input name="email" type="email" placeholder="example@example.com" />
    <label>PASSWORD</label>
    <input name="password" type="password" placeholder="Your password" />
    <button type="submit">LOGIN</button>
    </div>
        
    </form>
  </div>
 </div>
</div>
 


