

<div class="tweetBox">
    <form action="/session" method="post">
        <div class="tweetbox__input">
        <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
        />
        
        <label for="">Email: </label>
        <input name="email" type="text" 
        placeholder=""/>
        <label for="">Password: </label>
        <input name="password" type="password" placeholder=""/>

        <input name="image_url" type="file"/>
              <button class="tweetBox__tweetButton">Login</button>      
    </div>
        
    </form>
</div>