

<div class="tweetBox">
    <form action="/session" method="post">
        <div class="tweetbox__input">
        
        
        <label for="">Email: </label>
        <input name="email" type="text" 
        placeholder=""/>
        <label for="">Password: </label>
        <input name="password" type="password" placeholder=""/>

        
              <button class="tweetBox__tweetButton">Login</button>      
    </div>
        
    </form>
</div>