<!-- tweetbox starts -->
      <div class="tweetBox">
        <form action="/images" method="post" enctype="multipart/form-data">
          <div class="tweetbox__input">
            <img
              src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
              alt=""
            />
            
            <input name="image_url" type="file" placeholder="image URL"/>
           
            <input name="name" type="text" placeholder="caption your sighting"/>
            <input name="location" type="text" placeholder="location"/>
            <input name="date" type="text" placeholder="date"/>
            <input name="description" type="text" placeholder="description"/>
            <button class="tweetBox__tweetButton">Submit</button>
                        
        </div>

        



          
        </form>
      </div>
      <!-- tweetbox ends -->


      <!-- tweetbox starts -->
      <%# <div class="tweetBox">
        <form>
          <div class="tweetbox__input">
            <img
              src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
              alt=""
            />
            
            <input type="text" placeholder="Name your sighting"/>
            
            
            
          </div>
          <button class="tweetBox__tweetButton">Submit</button>
        </form>
      </div> %>
      <!-- tweetbox ends -->